@import url("https://fonts.googleapis.com/css?family=Raleway");

body { 
  background: url('/images/swirl2.jpg');
}

div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: auto;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.navbar {
	background-color: #75acff
}

#navbarSupportedContent {
	justify-content: flex-end;
}

.navbar-brand:hover {
  cursor: default;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, 1) !important;
}

.nav-link:hover {
  text-decoration: underline;
}

li {
	font-family: 'Raleway', sans-serif;
}

li > a {
	font-family: 'Raleway', sans-serif;
	color: inherit;
}

li > a:hover {
	text-decoration: underline;
	color: inherit;
}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 1000;
}

@media only screen and (max-width: 640px) {
	h1 {
		font-size: 10vw;
	}
}