@import url("https://fonts.googleapis.com/css?family=Raleway");

body { 
  background: url('/images/swirl2.jpg');
}

div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: auto;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.navbar {
	background-color: #75acff
}

.navbar-brand:hover {
  cursor: default;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, 1) !important;
}

.nav-link:hover {
  text-decoration: underline;
}

li {
	font-family: 'Raleway', sans-serif;
}

li > a {
	font-family: 'Raleway', sans-serif;
	color: inherit;
}

li > a:hover {
	text-decoration: underline;
	color: inherit;
}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 1000;
}

.backgroundImg {
	margin-bottom: 100px;
}

.col-sm-3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.card {
	height: 200px;
	background-color: #474647;
}

.row {
	background-color: #ed6b5a;
	margin-right: 0px;
	margin-left: 0px;
}

@media only screen and (max-width: 640px) {
	h1 {
		font-size: 10vw;
	}
}

@media (min-width: 640px) {
	.col-sm-3 {
        -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
}