@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
}

html {
  height: 85%;
}

body { 
  background: url('/images/swirl2.jpg'); 
  height: 100%;
  position: relative;
}

div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 400px;
}

.navbar {
  background-color: #75acff
}

.navbar-brand:hover {
  cursor: default;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, 1) !important;
}

.nav-link:hover {
  text-decoration: underline;
}

main {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  position: relative;  
}

.lists {
  background: rgba(88, 90, 88, 0);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

.list {
  background: rgba(203, 205, 203,.6);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 15px;
  border-color: rgba(88, 90, 88, 0.6);
  border-style: solid;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 20px;
}

/* Style the list items */
.listTitle {
  position: relative;
  padding: 12px 8px 12px 10px;
  list-style-type: decimal;
  font-size: 18px;
  transition: 0.2s;
  font-family: 'Raleway', sans-serif;
  clear: both;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Darker background-color on hover */
.listTitle:hover {
  background: rgba(255,255,255,.6);
}

.edit-list:hover {
  cursor: pointer;
  background-color: #474647;
  border-color: #474647;
}

.delete-list:hover {
  cursor: pointer;
  background-color: #474647;
  border-color: #474647;
}

.delete-list {
  font-size: 15px;
  float: right;
  color: white;
  background-color: #ed6b5a;
  border-color: #ed6b5a;
  font-family: 'Raleway', sans-serif;
  padding-left: 14px;
  padding-right: 14px;
  float: right;
  border-style: solid;
}

.edit-list {
  font-size: 15px;
  float: right;
  color: white;
  background-color: #ed6b5a;
  border-color: #ed6b5a;
  font-family: 'Raleway', sans-serif;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 5px;
  float: right;
  border-style: solid;
}

#createListButton {
  color: white;
  background-color: #ed6b5a;
  border-color: #ed6b5a;
  border-radius: 0px !important;
  margin-left: 8px;
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

#createListButton:hover {
  cursor: pointer;
  background-color: #474647;
  border-color: #474647;
}

#createListButton:focus {
  outline: 0;
  box-shadow: none;
}

.modal-body {
  background-color: #fff;
}

.modal-footer {
  background-color: #fff;
}

.modal-content {
  border-radius: 0px !important;
  background-color: #339cff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

input {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border: gray solid 1px;
}

label {
  display: block;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.modCloseButton {
  display: block;
  margin-top: 25px;
  color: white;
  background-color: #ed6b5a;
  border-color: #ed6b5a;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  border-style: none;
}

.modCloseButton:hover {
  cursor: pointer;
  background-color: #474647;
  border-color: #474647;
}