@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
}

html {
  height: 85%;
}

body { 
  background: url('/images/swirl2.jpg'); 
  height: 100%;
  position: relative;
}

div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 400px;
}

.navbar {
  background-color: #75acff
}

.navbar-brand:hover {
  cursor: default;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, 1) !important;
}

.nav-link:hover {
  text-decoration: underline;
}

main {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  position: relative;  
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input {
  margin-left: 5%;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  width: 35%;
  padding: 6.5px;
  float: left;
  border: gray solid 1px;
}

/* Style the "Add" button */
.addButton {
  padding: 5px;
  width: 12%;
  background-color: #ed6b5a;
  border-color: #ed6b5a;
  float: left;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;
  border-style: solid;
  margin-top: 20px;
}

.addButton:hover {
  background-color: #474647;
  border-color: #474647;
  cursor: pointer;
}

.listBuild {
  background: rgba(88, 90, 88, 0);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

.listSection {
  background: rgba(203, 205, 203,.6);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 15px;
  border-color: rgba(88, 90, 88, 0.6);
  border-style: solid;
}

/* Style the list items */
.list-item {
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  font-size: 18px;
  transition: 0.2s;
  font-family: 'Raleway', sans-serif;
  clear: both;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* When clicked on, add a background color and strike out text */
.list-item__checked {
  background: rgba(88, 90, 88, 0.6);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.list-item__checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Darker background-color on hover */
.list-item:hover {
  background: rgba(255,255,255,.6);
  cursor: pointer;
}

.list-item-delete {
  font-size: 14px;
  float: right;
  color: white;
  background-color: #ed6b5a;
  border-color: #ed6b5a;
  font-family: 'Raleway', sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: solid;
  float: right;
  margin-right: 15px;
}

.list-item-delete:hover {
  cursor: pointer;
  background-color: #474647;
  border-color: #474647;
}

.listVal {
  width: 75%;
  margin-right: 0px;
}