* {
  box-sizing: border-box;
}

nav {
  background-color: #D3D3D3;
  position: fixed;
  height: 65px;
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
}

nav > a {
  font-size: 18px;
  padding-right: 22px;
  position: relative;
  display: inline-block;
  top: -50px;
  font-family: system-ui;
  font-weight: 350;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
	text-decoration: underline;
}

h1 {
  padding-left: 20px;
  color: black;
  text-align: left;
  font-family: system-ui;
  font-weight: 300;
  font-size: 30px;
  margin-top: 9px;
}

main {
  margin-top: 76px;
  margin-left: 20px;
}

h2 {
  font-family: system-ui;
  font-weight: 400;
  font-size: 25px;
}

a {
  font-size: 18px;
  font-family: system-ui;
  font-weight: 350;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* Style the list items */
ul li {
  position: relative;
  padding: 12px 8px 12px 10px;
  list-style-type: decimal;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  font-family: system-ui;
  font-weight: 300;
  clear: both;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

.edit-list:hover {
  background-color: #bbb;
  cursor: pointer;
}

.delete-list:hover {
  background-color: #bbb;
  cursor: pointer;
}

.delete-list {
  font-family: system-ui;
  font-weight: 300;
  font-size: 15px;
  float: right;
}

.edit-list {
  font-family: system-ui;
  font-weight: 300;
  font-size: 15px;
  float: right;
}