@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
  background: url("/images/haitao-zeng-102073-unsplash.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.form {
  margin-left: 20px;
  margin-right: 20px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.FormBox {
    background:rgba(71,70,71,0.6);
	width: 320px;
	height: 550px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

legend {
	font-size: 38px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 13px;
	font-family: 'Raleway', sans-serif;
	color: #f5f9f2;
}

label {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #f5f9f2;
}

input {
	width: 286px;
	padding: 12px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	border: 0px;
}

.button {
	display: block;
	margin-top: 25px;
	color: white;
	background-color: #ed6b5a;
	border-color: #ed6b5a;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-style: none;
}

.button:hover {
	cursor: pointer;
	background-color: #474647;
	border-color: #474647;
}

.button:focus {
	outline: 0;
  	box-shadow: none;
}

@media only screen and (max-width: 640px) {
  input {
  	width: 100%;
  	font-size: 4vw;
  	padding: 5px;
  }

  label {
  	font-size: 4vw;
  }

  .FormBox {
  	width: auto;
  	height: auto;
  	margin-top: 10px;
  	margin-bottom: 10px;
  }

  legend {
  	font-size: 8vw;
  	padding-top: 20px;
  	padding-bottom: 0px;
  }

  .button {
  	font-size: 3vw;
  	margin-top: 15px;
  	margin-bottom: 10px;
  }

  .registrationForm {
  	height: 100%;
  }
}